body{
    background-color:cadetblue  ;
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}
.purpose{
    width: 800px;
    margin: auto;
    width: 50%;
    text-align: center;
    
    font-size: 14pt;
}
#heading{
    text-align: center;
    color: ghostwhite;
}
.contact{
    padding: 15px;
    width: 800px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 20pt;
}
.contact, name{
    padding: 15px;
    width: 800px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 20pt;
}
